.App {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-top: 0;
    margin-bottom: 0.5em;
    color: white;
    font-weight: 500;
  }

  .appContent {
    min-height: 800px;
    background-color: pink;
    padding: 20px;
  }
}
.configs {
  li {
    margin: 15px 0px;
  }
}

code {
  border-radius: 3px;
  padding: 2px 10px;
  font-size: 17px;
  margin-right: 10px;
  background-color: rgba(222, 222, 222, 0.34);
  border: 1px solid #cccccc;
  color: #868686;
}
